* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: sans-serif;
  background-color: blanchedalmond;
}
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blanchedalmond;
}
.cal {
  box-shadow: 6px 6px 13px blanchedalmond, 6px 6px 13px rgba(0, 0, 0, 0.16);
  border-radius: 28px;
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(4, 66px);
}
#inputText {
  grid-column: span 4;
  height: 66px;
  width: 258px;
  box-shadow: inset -6px -6px 13px blanchedalmond,
    inset -6px -6px 13px rgba(0, 0, 0, 0.16);
  background-color: blanchedalmond;
  border: none;
  border-radius: 32px;
  color: rgb(117, 117, 117);
  text-align: end;
  margin: 40px 0px 30px 0px;
  padding: 40px;
  font-size: 40px;
}
.btn {
  box-shadow: inset 6px 6px 13px blanchedalmond,
    6px 6px 13px rgba(0, 0, 0, 0.16);
  background-color: blanchedalmond;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 10px;
  font-weight: bold;
  font-size: 20px;
}
.btn.btn2 {
  width: 120px;
  border-radius: 20px;
}
